.square {
  height: 50px;
  width: 50px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  height: 50px;
  width: 154px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.white {
  background-color: white;
}

.gray {
  background-color: lightgray;
}

.red {
  color: red;
}

.selected {
  background-color: lightblue;
}

.container {
  display: flex;
  justify-content: center;
}

.small-margin {
  margin: 10px;
}

.full {
  height: 100%;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
